<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test" parallel="tests">
    <test thread-count="3" name="TestNGXMLTest Test" verbose="2">
        <classes>
            <class name="testPkg1.TestClass1" />
            <class name="testPkg1.SignInTest" />
        </classes>
    </test>
</suite>